.container {
  width: 90vw;
  margin: auto;
}

.container h2 {
  padding-top: 2rem;
  padding-bottom: 1rem;
  color: #4f4f46;
}

.flex_row {
  display: flex;
  color: #4f4f46;
}

.flex_row .day_column {
  flex-basis: 3rem;
  height: 8.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0.05vw 0 0 0 #4f4f46, 0 0.05vw 0 0 #4f4f46,
    0.05vw 0.05vw 0 0 #4f4f46, 0.05vw 0 0 0 #4f4f46 inset,
    0 0.05vw 0 0 #4f4f46 inset;
}

.flex_row .hour_cell {
  flex-grow: 1;
  height: 8.5vh;
  background: #8f8f7e;
  box-shadow: 0.05vw 0 0 0 #4f4f46, 0 0.05vw 0 0 #4f4f46,
    0.05vw 0.05vw 0 0 #4f4f46, 0.05vw 0 0 0 #4f4f46 inset,
    0 0.05vw 0 0 #4f4f46 inset;
}

.actions {
  text-align: right;
  margin-top: 2rem;
}

.actions button {
  font-size: 1rem;
}

.btn {
  text-decoration: none;
  background-color: #8f8f7e;;
  color: white;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  border: 1px solid #4f4f46;
  cursor: pointer;
  margin-left: 0.2rem;
}

.btn:hover,
.btn:active {
  background-color: #4f4f46;
  border-color: black;
}

