.container {
  width: 90vw;
  margin: auto;
}
.container h2 {
  padding-top: 4rem;
  padding-bottom: 2rem;
  color: #8f8f7e;
}
.header {
  display: flex;
  align-items: end;
  color: #8f8f7e;
}
.header .day {
  flex-basis: 3rem;
}
.header .all_day {
  flex-basis: 3rem;
  text-align: center;
}
.header .hour_marks {
  flex-grow: 1;
}
.hour_marks::after {
  content: "";
  display: block;
  background: #8f8f7e;
  width: 0.05vw;
  height: 0.5rem;
}

.flex_row {
  display: flex;
  color: #8f8f7e;
}
.flex_row .day_column {
  flex-basis: 3rem;
  height: 8.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0.05vw 0 0 0 #8f8f7e, 0 0.05vw 0 0 #8f8f7e,
    0.05vw 0.05vw 0 0 #8f8f7e, 0.05vw 0 0 0 #8f8f7e inset,
    0 0.05vw 0 0 #8f8f7e inset;
}
.flex_row .all_day_column {
  flex-basis: 3rem;
  height: 8.5vh;
  background: #8f8f7e;
  box-shadow: 0.05vw 0 0 0 #8f8f7e, 0 0.05vw 0 0 #8f8f7e,
    0.05vw 0.05vw 0 0 #8f8f7e, 0.05vw 0 0 0 #8f8f7e inset,
    0 0.05vw 0 0 #8f8f7e inset;
}

.flex_row .hour_cell {
  flex-grow: 1;
  height: 8.5vh;
  box-shadow: 0.05vw 0 0 0 #8f8f7e, 0 0.05vw 0 0 #8f8f7e,
    0.05vw 0.05vw 0 0 #8f8f7e, 0.05vw 0 0 0 #8f8f7e inset,
    0 0.05vw 0 0 #8f8f7e inset;
}
.actions {
  text-align: right;
  margin-top: 2rem;
}

.actions button {
  font-size: 1rem;
}
.btn {
  text-decoration: none;
  background-color: #8f8f7e;;
  color: white;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  border: 1px solid #4f4f46;
  cursor: pointer;
  margin-left: 0.2rem;
}

.btn:hover,
.btn:active {
  background-color: #4f4f46;
  border-color: black;
}
