.container {
  width: 90vw;
  margin: auto;
}

.container h2 {
  color: #4f4f46;
}

.container_top {
  padding-top: 2rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.btn {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  background-color: #d1d1cd;
  color: black;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  cursor: pointer;
  margin-left: 0.2rem;
}

.btn:hover,
.btn:active {
  background-color: rgba(143, 143, 126, 0.3);
  border-color: black;
}

